#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

# binary ignore patterns
build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*/bin/*
!*/bin/data
*/bin/data/*xml
!*/bin/data/videos
*/bin/data/videos/*mov
*/bin/data/videos/*mp4

#emacs
*~
.*~
